.section {
    position: relative;
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .section h1 {
    text-align: center;
    font-size: 4rem;
    font-family: "Cookie";
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(29, 137, 226);
    width: 100%;
    height: 100vh;
    opacity: 0.5;
  }


  *, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
user agent stylesheet
html {
    color: -internal-root-color;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}  



.blurb h2 {
    color: rgb(241, 182, 20);
    font-weight: 100;
    font-size: 2.5rem;
 }
 
 .blurb p {
     color: #f498b8;
     font-weight: 100;
     font-size: 1.125rem;
     line-height: 2;
 }
 
 .content {
     margin-top: 100px;
     margin-bottom: 100px;
 }
 
 #mainNavbar {
     font-size: 1.0rem;
     font-weight: 100;  
    
 }
 .section{
    border-bottom-color: #6610f2; 
 }
 
 #mainNavbar .nav-link {
     color: white;
 }
 
 #mainNavbar .nav-link:hover {
     color: rgb(115, 120, 165);
 }
 
 #mainNavbar .navbar-brand {
     color: rgb(255, 255, 255);
     font-size: 1.0rem;
 }

 #mainNavbar .fab-fa-facebook:hover {
    color: #983b74;
 }
 #headingGroup span {
     color: #EA1C2C;
 }
 
 #headingGroup h1 {
     font-weight: 100;
     font-size: 4rem;
 }
 
 .navbar.scrolled {
     background: rgb(48, 101, 110);
     transition: background 500ms;
 }
 
 @media (max-width: 1200px) {
     #headingGroup h1 {
         font-weight: 100;
         font-size: 3rem;
     }
     .blurb h2 {
         font-size: 2rem;
     }
 }


 .jumbotron {
    background-image: url(imgs/sea.jpg)
}

 .img {
     background-image: url(imgs/hanako.jpg)
 }

 footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: right; 
}



.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li :last-child {
    margin-right: 0;
}


.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
    
}



footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

 
 